<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/hi/IdeaProjects/CWTestNGSelenium"><classes><class name="clarusway.tests.Day_01.C01_TestNGAnnotations"><methods><include name="test01"/><include name="test02"/></methods></class><class name="clarusway.tests.Day_01.C02_Priority"><methods><include name="test02"/><include name="test04"/><include name="test01"/><include name="test03"/></methods></class><class name="clarusway.tests.Day_01.C03_DependsOn"><methods><include name="loginTest"/><include name="registrationTest"/></methods></class></classes></test></suite>